.window-container {
    position: fixed;
    z-index: 1000;
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background: rgba(0, 0, 0, 0.8);
}

.window {
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: column;

    height: 42vw;
    width: 75vw;

    background-image: url("fond-fenetre.jpg");
    background-size: cover;
}

.window .header {
    height: 10%;

    background-image: url("bandeau-fenetre.png");
    background-size: 100% 100%;
    z-index: 2000;

    font-family: Avenir Next Condensed;
    fontS-size: 1vw;
    color: tomato;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.window .body {
    display: flex;
    height: 90%;
}
